<html lang="en">
<head>
    {% if title %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}} - Welcome to A Flask App </title>
    {% else %}
    <title> Welcome To A Flask App </title>
    {% endif %}
</head>
<body>
    <div>FlaskWebApps: 
        <a href="/index">Home</a>
        <a href="/register">Register</a>
    </div>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>